$black: #333;
$white: #fff;
$greyish: #888;
$green: #184d47;
$purple: #5c55b9;

$border-color: rgba(142, 146, 153, 0.25);
$letterSpacing: -0.05em;
$ls: -0.022em;

$midBlack: #161616;
$offWhite: rgba(255, 255, 255, 0.75);
$realWhite: rgba(255, 255, 255, 0.9);
