.banner {
  height: 45px;
  width: 100%;
  background: $purple;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  span {
    font-size: clamp(0.85rem, 1.25vw, 3rem);
    text-transform: uppercase;
    color: $white;
    font-weight: 500;
  }
}
