.membership {
  background-color: $midBlack;
  color: $realWhite;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 0;
    text-transform: lowercase;
    font-weight: 400;
  }

  p {
    color: $offWhite;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.3;
  }

  .m-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;

    .m-card {
      position: relative;
      border-radius: 5px;
      padding: 4.5rem 3rem;
      text-align: center;
      background-color: $purple;

      .icon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        margin-left: calc(100% - 10.5rem);
      }

      .m-title {
        h4 {
          font-size: clamp(1.5rem, 2vw, 3rem);
          text-transform: capitalize;
          font-weight: 500;
        }

        h3 {
          font-size: clamp(2rem, 3vw, 5rem);
          text-transform: capitalize;
          font-weight: 600;
          letter-spacing: -0.015em;
          font-family: "Modern";
          color: $realWhite;
        }
      }

      .bottom {
        padding-bottom: 1rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        .btn {
          width: 90%;
          background: rgba(134, 123, 228, 0.8);
        }
      }
    }
  }
}
